<!DOCTYPE html>
<html>
<head>
	{% include 'headers.html' %}
</head>
<body>
    <div class="logo padding">
  		<img src="{{ url_for('static', filename='img/logo_inp.png') }}" alt="logo_inp" width="300" height="210">
  	</div>

  	<div style="text-align:center">
  		<h1 style="font-size:4em">Bee<span style="color:#26AEE6">News</span></h1>

        <h2 style="font-size:2em"><span style="color:#26AEE6">Bienvenue sur BeeNews</span></h2>
  	</div>

    <div style="text-align:center">
  		<pre>
Ceci est la béta de l'application BeeNews. Vous pouvez dès maintenant télécharger l'application et la tester.
Cependant l'appli n'est disponible que sur android. Les supports iOS et Windows Phone seront bientôt disponibles.
Ce site est temporaire car la version web de l'application est aussi en préparation.

Télécharger l'apk, installer l'appli (activer les sources inconnues dans vos paramètres), inscrivez vous
(utilisez uniquement votre adresse enseirb avec la fusion de prénom et nom; ex: ladotevi@enseirb-matmeca.fr ou rherveux@...), changer votre mot de passe
et soumettez vos articles à partir du lien ci-dessous. Vous ne pourrez publier quand dans BeeNews sauf adresse mail autorisé

Bienvenue dans la BeeNewsFamily!
        </pre>
  	</div>

    <div style="text-align:center">
  		<a href="{{ url_for('static', filename='data/beenews.apk') }}">Télécharger l'apk</a>
  	</div>

    <div class="block-positive" style="text-align:center">
  		<a href="{{url_for('mongo.web_post_page')}}"><span style="color:#26AEE6">Poster un article</span></a>
  	</div>

</body>
</html>