<ion-view view-title="A propos">
  <ion-content>
  	<div class="padding" align="center" style="margin-top:30px;">
  		<pre> BeeNews est une application créée par Lionel Adotevi et Raphaël Herveux, qui a pour but de rendre les news de l'ENSEIRB-Matmeca accessible à tous.
  		Cette appli permet de consulter les news des clubs et assos, des tweets officiels de l'ENSEIRB et de liker puis commenter ces news.

  		D'autres features sont prévues au fur et à mesure.

  		Stay tuned for more. </pre>
  	</div>
  </ion-content>
</ion-view>