<ion-view view-title="Article" ng-controller="articleCtrl">
  <ion-content>
  	<div class="padding text-center">
  		<span style="text-transform:uppercase;font-weight:bold;font-size:1.2em;color:#26AEE6;">{{article.title}}</div>
  	</div>
  	<div class="padding-horizontal" align="center">
  			<img src="img/ic_news.png" width="200" height="200" style="background-color:#26AEE6">
  	</div>
  		
  	<div class="padding" style="margin-bottom:50px;">
      <pre>{{article.data.text}}</pre>
    </div>

    <div class="like-footer">
      <div class="text-left" style="display:inline-block;">
        <button class="button button-balanced like-footer-pos" ng-click="like_or_dislike('like')" ng-disabled="like_disable">{{like_text}}</button>
      </div>

      <div class="text-right" style="display:inline-block;float:right;">
        <button class="button button-assertive like-footer-neg" ng-click="like_or_dislike('dislike')" ng-disabled="dislike_disable">{{dislike_text}}</button>
      </div>
    </div>

    <div class="like-footer">
      <div class="text-left" style="display:inline-block;">
        <span class="like-footer-pos">{{article.likes}} J'aime</span> |
        <span class="like-footer-neg">{{article.dislikes}} J'aime Pas</span>
      </div>
      <div class="text-right" style="display:inline-block;float:right;">
        <a href="#" class="like-footer-coms" ng-click="openComment()">Voir commentaires</a>
      </div>
  </div>
    <div class="padding-horizontal text-right like-footer" >
      Cet article vous a été proposé par : <span style="color:#26AEE6;">{{article.data.author}}</span>
    </div>
  </ion-content>
</ion-view>
