<ion-view view-title="BeeNews" ng-controller="loginCtrl">
  <ion-content class="background">
  	<div class="logo padding">
  		<img src="img/logo_inp.png" alt="logo_inp" width="300" height="210">
  	</div>
  	
  	<div style="text-align:center">
  		<h1 style="font-size:4em">Bee<span style="color:#26AEE6">News</span></h1>
  	</div>
  	<form class="list" ng-submit="login(email, pass, remember)">
		
  		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Email" ng-model="email">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Mot de passe" ng-model="pass">
		  </label>
		</div>
		<ul class="list padding" >
	  		<li class="item item-checkbox" id="remember-me">
	  		Se souvenir de moi
		     <label class="checkbox">
		       <input type="checkbox" >
		     </label>
		    
		  </li>
	  	</ul>
	  	
  		
  		<div class="padding">
  			<button class="button button-block button-positive"> Connexion </button>
  		</div>
  	</form>
  </ion-content>
</ion-view>
