<ion-view view-title="A la une" ng-controller="newsCtrl">
  <ion-content>
  	<div class="padding-horizontal">
  		<span style="color:red"><i class="icon ion-social-rss"></i> {{heure()}}</span> Les résultats des campagnes BDS viennent de tomber, Bee'In Sport remporte haut la main
  	</div>
  	<div class="list card row" style="margin:0">	
  		<div class="col">
  			<img src="img/presentateur.png" width="100">
  		</div>
  		
  		<div class="col col-67">
  			<h5 style="color:#26AEE6">BDE</h5>
  			<div style="line-height:1">"Et toi tu pars où en stage ?" Découvrez la nouvelle initiative de votre BDE</div>
  			<div style="text-align:bottom;font-style:italic;color:grey">3 commentaires</div>
  		</div>
  	</div>
  </ion-content>
</ion-view>
