<ion-view view-title="A la une" ng-controller="newsCtrl">
  <ion-content>
    <ion-refresher pulling-text="Actualiser" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card">
      <div ng-repeat="new in news" class="item row padding" style="margin-bottom: 5px;" ng-click="showArticle($index)">
        <div class="col">
            <img src="img/ic_news.png" width="80" height="80" style="background-color:#26AEE6">
        </div>
        
        <div class="col col-67">
          <div style="color:#26AEE6;font-size:14px;">{{new.data.title}}</div>
          <div style="line-height:1">{{new.time}}</div>
          <div style="text-align:bottom;font-style:italic;color:grey" class="item-text-wrap">{{new.snip}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
