/* Empty. Add your own CSS if you like */

.logo {
  text-align: center; }

.background {
  background-color: #FBF9F0; }
	
ion-side-menu .item, ion-side-menu a.item {
	color:white;
	background-color:rgb(68,68,68);
}

a[class=item] {
	padding-left:30px !important;
}

.like-footer {
	border-top: 1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	margin-right:10px;
}

.like-footer-pos {
	color:green;
}
.like-footer-neg {
	color:red;
}
.like-footer-coms {
	color:blue;
}